.featured {
  height: 100vh;
}

.featured--vertival,
.featured--horizontal {
  width: inherit;
  height: inherit;
}

.featured--vertival,
.featured--horizontal {
  background: linear-gradient(to top, #111 10%, transparent 90%);
}

.featured--horizontal {
  background: linear-gradient(to right, #111 30%, transparent);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
  padding-bottom: 150px; /* reference styles .lists {margin-top:-150px} */
  padding-top: 70px;
}

.featured--name {
  font-size: 60px;
  font-weight: bold;
}

.featured--detail,
.featured--description,
.featured--buttons,
.featured--genres {
  margin-top: 15px;
}

.featured--detail {
  font-size: 18px;
  font-weight: bold;
}

.featured--points,
.featured--year,
.featured--seasons {
  display: inline-block;
  margin-right: 15px;
}

.featured--points {
  color: #46d369;
}

.featured--description {
  font-size: 20px;
  color: #999;
  max-width: 40%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 10; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.featured--button--watch,
.featured--button--list {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  padding: 15px 25px;
  border-radius: 5px;
  text-decoration: none;
  margin-right: 10px;
  opacity: 1;
  transition: all ease 0.2s;
}

.featured--button--watch:hover,
.featured--button--list:hover {
  opacity: 0.7;
}

.featured--button--watch {
  background-color: #fff;
  color: #000;
}

.featured--button--list {
  background-color: #333;
  color: #fff;
}

.featured--genres {
  font-size: 18px;
  color: #999;
}

@media (max-width: 760px) {
  .featured {
    height: 90vh;
  }
  .featured--name {
    font-size: 40px;
  }
  .featured--detail {
    font-size: 16px;
  }
  .featured--description {
    font-size: 14px;
    max-width: 100%;
    margin-right: 30px;
  }
  .featured--button--watch,
  .featured--button--list {
    font-size: 16px;
  }
  .featured--genres {
    font-size: 14px;
  }
}
  